{% load staticfiles %}
<html>
    <head>
        <title>NFL Map</title>
        <meta name="viewport" content="width=device-width">
        
        <!-- JQuery JS -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <!-- OpenLayers JS -->
        <script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
        
        
        <!-- OpenLayers CSS -->
        <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
        
        <!-- local CSS -->
        <link rel="stylesheet" href="/static/css/overlay-map.css" type="text/css">
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h4>click a team name to see when all its players played in college</h4>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                    <div class="col-md-4">
                    {% for team in teams %}
                        <button id="{{team.code|lower}}" class="t-btn">
                            {{ team }}
                        </button>
                    {% endfor %}
                    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>